nats:
  url: nats://127.0.0.1:4222
consul:
  address: localhost:8500

mpc_threshold: 2
environment: development
badger_password: "F))ysJp?E]ol&I;^"
event_initiator_pubkey: "event_initiator_pubkey"
db_path: "."  
backup_enabled: true
backup_period_seconds: 300 # 5 minutes
backup_dir: backups
max_concurrent_keygen: 2
max_concurrent_signing: 10
session_warm_up_delay_ms: 100
