badger_password: "{{.BadgerPassword}}"
consul:
  address: localhost:8501
db_path: ./test_db
environment: development
event_initiator_pubkey: "{{.EventInitiatorPubkey}}"
mpc_threshold: 1
mpcium_version: 1.0.0
nats:
  url: nats://localhost:4223 
max_concurrent_keygen: 1
max_concurrent_signing: 10
session_warm_up_delay_ms: 500
